[submodule "submodules/AlgoW"]
	path = submodules/AlgoW
	url = https://github.com/lamdu/Algorithm-W-Step-By-Step
[submodule "submodules/node"]
	path = submodules/node
	url = https://github.com/lamdu/node
