*.hi
*.o
*.p_hi
*.p_o
*.i_hi
*.i_o
*.dyn_hi
*.dyn_o
/.tm_properties
/TAGS
/tags
/dist/
/cabal-dev/
/TODO
/.stack-work/
/lamdu.hsproj/Control/
/lamdu.hsproj/Data/
/lamdu.hsproj/Foreign/
/lamdu.hsproj/Graphics/
/lamdu.hsproj/Lamdu/
/lamdu.hsproj/Numeric/
/lamdu.hsproj/System/
/lamdu.hsproj/Text/
