*.hi
*.o
*.p_hi
*.p_o
*.i_hi
*.i_o
*.dyn_hi
*.dyn_o
*.cabal
.DS_Store
/stack.yaml.lock
/lamdu
/.tm_properties
/TAGS
/tags
/dist/
/cabal-dev/
/TODO
/.stack-work/
/VerifyConfig
/private
/.ghci
/.vscode
/ghcid.txt
/autogen/
/ghci-out/
/node_modules/
/git-cache/
/cabal.project.local
/dist-newstyle/
/result
/.db
/hie.yaml
