name: Haskell CI

on: [push]

jobs:
  build:
   
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Install Stack
      run: curl -sSL https://get.haskellstack.org/ | sh
    - name: Build
      run: |
        stack build
    - name: Run tests
      run: stack test
